</br>
</br>
<h5>Edit ticket</h5>
</br>

<%= render "form.html", Map.put(assigns, :action, ticket_path(@conn, :update, @ticket)) %>

<%= button "Back", to: ticket_path(@conn, :index), method: "get", class: "btn btn-outline-secondary"%>