</br>
</br>
<h5>New ticket</h5>
</br>
<%= render "form.html", Map.put(assigns, :action, ticket_path(@conn, :create)) %>

<%= button "Voltar", to: ticket_path(@conn, :index), method: :get, class: "btn btn-outline-secondary"%>
